.container {
  background-color: greenyellow;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.list {
  gap: 20px;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.itemLink td {
  padding: 10px;
}

.list > li {
  flex: 1 1 calc(50% - 16px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  min-width: 250px;
}

li {
  background-color: #f9f9f9;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

ul,
ol {
  padding-left: 12px;
  margin: 0;
}

li ul > li,
li ol > li {
  margin: 0;
}

.DraggableItem {
  cursor: pointer;
}

@media (max-width: 768px) {
  .list > li {
    flex: 1 1 100%;
  }
}

h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

h4 {
  margin-bottom: 8px;
  font-size: 1rem;
  color: black;
}
// select
/* index.module.scss */

.selectControl {
  background-color: yellow;
  border-radius: 4px;
  border-color: #ccc;
  color: black;
}

.selectOption {
  padding: 10px;
  // color: transparent;
  color: black;
}

.selectOptionSelected {
  background-color: #ff5722;
  color: white;
}

.selectOptionFocused {
  background-color: rgba(255, 87, 34, 0.1);
}

.selectInput {
  padding-left: 8px;
}

.selectPlaceholder {
  color: #ccc;
}

.selectSingleValue {
  // color: transparent;
  color: black;
}
