.header {
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  // padding: 24px 128px;
  background: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(25, 26, 21, 0.1);
  // z-index: 100;
}

.container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #000;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;

  img {
    height: 40px;
    margin-right: 12px;
  }
}

.nav {
  display: flex;
  gap: 20px;
  font-family: var(--font-inter-regular);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: var(--color-text);

  a {
    color: var(--color-text);
    text-decoration: none;
    position: relative;

    &.active {
      font-weight: bold;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-radius: 50%;
      background: var(--color-green);
      transition: width 0.3s ease;
    }

    &.active::after {
      width: 8px;
      height: 8px;
    }
  }
}

.btnsAuth {
  display: flex;
  gap: 20px;

  button {
    text-decoration: none;
    color: var(--color-text);
    padding: 14px 39px;
    border: 1px solid rgba(25, 26, 21, 0.2);
    border-radius: 30px;
    background: transparent;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    cursor: pointer;

    &:hover,
    &:focus,
    &.active {
      background: var(--color-green);
      // color: var(--color-white);
      border: none;
    }
  }
}

.userControls {
  display: flex;
  align-items: center;
  gap: 20px;

  .userName {
    font-weight: bold;
    font-size: 16px;
    color: var(--color-text);
  }
}
//footer
.footer {
  background-color: #f4f4f4;
  padding: 1rem 2rem;
  text-align: center;
  border-top: 1px solid rgba(25, 26, 21, 0.1);
  font-family: var(--font-inter-regular);
  font-size: 14px;
  color: var(--color-text);
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerContent p {
  margin: 0;
  line-height: 1.5;
}
