@use '../../index.scss' as *;

// .listsContainer {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 10px;
//   justify-content: space-between;
// }

// .listsContainer > * {
//   flex: 1 1 calc(50% - 10px);
// }

// @media (min-width: 600px) {
//   .listsContainer > * {
//     flex: 1 1 calc(50% - 10px);
//   }
// }

// @media (min-width: 900px) {
//   .listsContainer > * {
//     flex: 1 1 calc(50% - 10px);
//   }
// }
.schoolManagementContainer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}
