@use '../../../index.scss' as *;

.features {
  padding: 0 20px;
  width: 100%;
  // background-color: var(--color-gray-light);
  text-align: center;

  .featuresList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }

  .featureItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(25% - 20px);
    height: 200px;
    background: var(--color-white);
    border: 1px solid var(--color-gray-border);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    }

    .icon {
      font-size: 48px;
      color: var(--color-green);
      margin-bottom: 15px;
    }

    span {
      font-size: 18px;
      font-weight: var(--font-weight-medium);
      color: var(--color-text-title);
    }
  }
  @media (max-width: 1024px) {
    .featureItem {
      width: calc(33.33% - 20px);
    }
  }

  @media (max-width: 768px) {
    .featureItem {
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 480px) {
    .featureItem {
      width: 100%;
    }
  }
}
