:root {
  --color-white: #ffffff;
  --color-text-title: #121417;
  --color-text-subtitle: rgba(18, 20, 23, 0.8);
  --color-white-text: #fcfcfc;
  --color-gray-light: #f8f8f8;
  --color-green-cyan: #85aa9f;
  --color-green-cyan-light: #a5c0b8;
  --color-primary-dark: #121417;
  --color-red: #d80027;
  --color-green: #3cbf61;
  --color-gray-border: #85aa9f;

  /* fonts */
  --font-primary: 'MacPaw Fixel Display', sans-serif;
  --font-secondary: 'SF Pro Display', sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-light: 300;
}

@font-face {
  font-family: 'MacPaw Fixel Display';
  src: url('./assets/fonts/FixelAll/SFProDisplay-Regular.woff2') format('woff2'),
    url('./assets/fonts/FixelAll/MacPawFixelDisplay-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MacPaw Fixel Display';
  src: url('./assets/fonts/FixelAll/MacPawFixelDisplay-Medium.woff2') format('woff2'),
    url('./assets/fonts/FixelAll/MacPawFixelDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MacPaw Fixel Display';
  src: url('./assets/fonts/FixelAll/MacPawFixelDisplay-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/FixelAll/MacPawFixelDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MacPaw Fixel Display';
  src: url('./assets/fonts/FixelAll/MacPawFixelDisplay-Bold.woff2') format('woff2'),
    url('./assets/fonts/FixelAll/MacPawFixelDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SFProDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFProDisplay-Regular.woff2') format('woff2'),
    url('./assets/fonts/SFProDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Основні стилі */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-gray-light);
  color: var(--color-primary-dark);

  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh; /* Гарантує, що body займає всю висоту екрану */
  margin: 0;
  padding: 0;
}

main {
  flex: 1; /* Гарантує, що основний контент займає все доступне місце */
  padding: 20px;
  margin-bottom: 60px; /* Відступ від футера, якщо він фіксований */
}

header,
footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* Медійні запити для адаптивного дизайну */
@media (min-width: 320px) {
  body {
    padding: 30px;
  }
}

@media (min-width: 375px) {
  body {
    padding: 0 60px;
  }
}

@media (min-width: 768px) {
  body {
    padding: 0 80px;
  }
}

@media (min-width: 1440px) {
  body {
    padding: 0 100px;
  }
}
